html {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: sans-serif;
    width: 100vw;
}


:root {
    --color: #46BDDE;
    --grey: #7C7C7C;
    --bg: #282828;
    --text: #fff;
    /* --bg: #fff;
    --text: #282828; */
}

html[data-theme='dark'] {
    --bg: #fff;
    --text: #282828;
}

body {
    display: grid;
    justify-items: center;
    background-color: var(--bg);
    color: var(--text);
}

h1 {
    font-size: 59px;
    margin: 20px 0 90px 5%;
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'VT323', monospace; */
}

h2 {
    color: var(--color);
    text-align: center;
    font-size: 3rem;
    margin-top: 150px;
    margin-bottom: 0;
}

h3 {
    font-size: 1.8srem;
}

p {
    margin: 0 5%;
    line-height: 1.8rem;
    font-size: 1.1rem;
}

nav {
    justify-self: end;
}



nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    /* margin: 20px 40px; */
}

nav li {
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
}

button {
    width: 100px;
    height: 25px;
    border: 3px solid var(--color);
    margin-top: 40px;
    background-color: var(--bg);
    color: var(--text);

}

.main-container {
    display: grid;
    justify-items: center;
}

span.am {
    height: 79px;
    width: 105.767px;
    background-color: var(--text);
    color: var(--bg);
    padding-right: 12px;
    padding-left: 12px;
    /* transform: skewY(-17deg); */
    transform: rotate(-25deg);
    display: inline-block;
    position: relative;
    height: 82px;
}

span.am-text {
    display: inline-block;
    /* transform: skewY(17deg); */
    transform: rotate(25deg);
}


span.carlos {
    color: var(--color);
}

.arrow {
    font-size: 19px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.git,
.linked {
    font-size: 28px;
}

.tech {
    text-align: center;
    color: var(--grey);
    margin-bottom: 60px;
}

.intro p {
    text-align: center;
}

.underline {
    text-align: center;
    font-size: 3em;
    margin-top: -33px;
    margin-bottom: 60px;
    color: var(--text);
}

.portfolio h3 {
    margin: 0 5%;
    font-size: 1.3rem;
}

.minimindful {
    display: grid;
    grid-gap: 70px;
}

.minimindful p {
    margin-top: 30px;
}

.mini-image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.minimindful img {
    width: 300px;
}

.buttons {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact {
    margin-top: 100px;
}


@media only screen and (min-width: 800px) {
    .minimindful {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 980px;

    }
}