html {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    width: 100vw;
}


:root {
    --color: #46BDDE;
    --grey: #7C7C7C;
    --menu: #000000;
    --bg: #282828;
    --text: #fff;
    /* --bg: #fff; */
    /* --text: #282828; */
    /* --menu: #fff; */
}

html[data-theme='dark'] {
    --bg: #fff;
    --text: #282828;
}

html[data-theme='light'] {
    --text: #fff;
    --bg: #282828;
}


body {
    display: grid;
    justify-items: center;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

h1 {
    font-size: 59px;
    margin: 20px 0 90px 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--color);
    text-align: center;
    font-size: 3rem;
    margin-top: 150px;
    margin-bottom: 0;
}

h3 {
    font-size: 1.8rem;
}

p {
    margin: 0 5%;
    line-height: 1.8rem;
    font-size: 1.1rem;
}


a {
    text-decoration: none;
    color: var(--text);
}


button,
.submit-button {
    width: 100px;
    height: 25px;
    border: 3px solid var(--color);
    margin-top: 40px;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;

}

button:hover,
.submit-button:hover {
    background-color: var(--text);
    color: var(--bg);
}



.main-container {
    display: grid;
    justify-items: center;
    padding: 0 8%;
}

/* Styling for hero  */
button.am {
    height: 79px;
    width: 118px;
    background-color: var(--text);
    color: var(--bg);
    padding-right: 12px;
    padding-left: 12px;
    transform: rotate(-25deg);
    display: inline-block;
    position: relative;
    height: 82px;
    z-index: 98;
    margin-top: 0;
    outline: none;
}

span.am-text {
    display: inline-block;
    transform: rotate(25deg);
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
}


span.carlos {
    color: var(--color);
}

.arrow {
    font-size: 19px;
    position: absolute;
    top: 3px;
    right: 3px;
}

/* Styling for hero subsection */

.social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

/* Icons styling */
.icon {
    font-size: 28px;
    cursor: pointer;
    transition: color 0.2s, font-size 0.2s;
}

.icon:hover {
    font-size: 32px;
    color: var(--color);
}


.tech {
    text-align: center;
    color: var(--grey);
    margin-bottom: 60px;
}

.intro p {
    text-align: center;
}

/* Underline for section titles */
.underline {
    text-align: center;
    font-size: 3em;
    margin-top: -33px;
    margin-bottom: 60px;
    color: var(--text);
}

/* About */

.about {
    width: 100%
}

/* Portfolio sections */
.portfolio h3 {

    font-size: 1.3rem;
}

.minimindful {
    display: grid;
    grid-gap: 70px;
    margin: 0 5%
}

.minimindful p {
    margin: 30px 0 0 0;

}

.mini-image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.minimindful img {
    width: 300px;
}

.buttons {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Styling for contact section */

.contact {
    width: 100%
}

.contact-form {
    display: grid;
    justify-items: center;
}

form {
    width: 70%;
    max-width: 600px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "name"
        "email"
        "subject"
        "message"
        "submit";
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#subject {
    grid-area: subject;
}

#message {
    grid-area: message;
}

.submit-button {
    grid-area: submit;
    margin-top: 0;
    justify-self: end;
}

.form-inputs {
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

.text-area {
    height: 200px;
    padding-top: 2px;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 60px;
}

footer {
    width: 100vw;
    margin-top: 100px;
    background-color: black;

}

footer p {
    font-size: 0.9rem;
    text-align: right;
    color: var(--text);
}






/* nav bar ///////////////////////////////////////////////////// */
body {
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;

}

.browser-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: var(--menu);
    width: 100%;
}

.logo {
    color: rgb(235, 231, 231);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.browser-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

.browser-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.browser-links a:hover {
    color: var(--color);
}

.browser-links li {
    padding-right: 5%;
}

.nav-links {
    display: none;

}



/* Media Queries */
@media only screen and (min-width: 500px) {
    h1 {
        margin-left: 7%;
        margin-top: 11%;
    }


    @media only screen and (min-width: 800px) {
        .minimindful {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 980px;
        }

        form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            grid-template-areas:
                "name      email"
                "subject  subject"
                "message  message"
                ".        submit";

        }
    }

    @media screen and (max-width:768px) {
        .browser-links {
            display: none;
        }

        .nav-links {
            display: flex;
            justify-content: space-around;
            padding: 0;
            list-style: none;
            position: fixed;
            right: 0;
            height: 92vh;
            top: 8vh;
            background-color: var(--menu);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transition: transform 0.5s ease-in;
            margin: 0;



        }

        .nav-links a {
            color: #fff;
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 22px;
            transition: color 0.2s, font-size 0.2s;
        }

        .nav-links a:hover {
            color: var(--color);
            font-size: 25px;
        }


        .burger {
            display: none;
        }

        .burger div {
            width: 25px;
            height: 2px;
            background-color: #fff;
            margin: 5px;
            transition: all 0.35s ease;
        }

        .nav-links {

            transform: translateX(100%);
        }



        .nav-active {
            transform: translateX(0%);
        }

        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translateX(50px);
            }

            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .line2 {
            opacity: 0;
        }

        .toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        .nav-links ul {
            margin: 0;
        }

        .nav-links li:nth-child(4) {
            padding-bottom: 50%;
        }

        .burger {
            display: block;
            cursor: pointer;
            margin-right: 40px
        }


    }



    /* Tansition */


    html.transition,
    html.transition *,
    html.transition *:before,
    html.transition *:after {
        transition: all 750ms !important;
        transition-delay: 0 !important;